:root {
  --black-color: #000;
}

.arrow {
  border: 1px solid var(--black-color);
  border-width: 0px 3px 3px 0;
  display: inline-block;
  padding: 15px;
  margin-top: 80px;
  transform: rotate(45deg);
  cursor: pointer;
  animation: fadeInDown 2s ease-in-out infinite;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: translateY(10px) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) rotate(45deg);
  }
}
