* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-font: "Playwrite BE VLG", cursive;
  --differ-font: "Quicksand", sans-serif;
  --main-color: #e7dbe5;
  --main-color-hover: #c296bb;
  --black-color: #000;
  --black-color-alpha: rgba(0, 0, 0, 0.5);
  --text-color: #120303;
  --white-color: #fff;
  --loader-border-color: #ccc;
  --loader-border-top-color: #333;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
